In [56]:
#.1)

from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#dataframe table set up
df = pd.DataFrame(columns=['m=2','m=3','m=4','m=5'],
                 index=['5','6','7','8'])
df.columns.name = 'k'


#fill df values with their respective probabilities
for month in range(2,6):
    for rate in range(5,9):
        mu = (month/12)*rate #rate is k magnitude
        Y = stats.poisson(mu)
        df.iat[month-2, rate-5] = Y.pmf(0)
        
display(df)

k       m=2       m=3        m=4        m=5
5  0.434598  0.367879   0.311403   0.263597
6  0.286505   0.22313   0.173774   0.135335
7  0.188876  0.135335   0.096972  0.0694835
8  0.124514  0.082085  0.0541138   0.035674

In [121]:
#2.)
#not completed

from scipy.stats import truncnorm

graderanges = [0, 60, 70, 80, 90, 100]
 
def students_in_grade(mu, sigma, numstudents):
    main_df = pd.DataFrame()
    
    for i in range(0,1): 
        s = pd.Series(np.random.normal(mu, sigma, numstudents))#avgsamples[i] = s.mean()
        s = s[s.between(0,100)] #keep only scores between 0 and 100
        df = pd.DataFrame({"grades": s}) 
        main_df = df.groupby(pd.cut(df.grades, graderanges)).count() #how many students scored within the ranges in graderanges array
        display(main_df["grades"])
        display(main_df["grades"][0])
        display(main_df["grades"][61])
        
students_in_grade(80, 64, 200)

grades
(0, 60]      45
(60, 70]      7
(70, 80]     14
(80, 90]      9
(90, 100]    11
Name: grades, dtype: int64

45

7